body {
   background-color: rgb(44, 47, 54);
  background: linear-gradient( rgb(44, 47, 54),#24354d, rgb(44, 47, 54)) fixed;
  background-position: fixed;
   background-repeat: no-repeat;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
